.popup {
    position: fixed;
    left: 0px;
    display: block;
    width:100%;
    height: 100%;
   background-color: lightcoral;
   margin: auto;
align-items: center;
   display: flex;
color: black;
font-size: 25px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
border-radius: 1.1rem;

}

.popup-inner {
    position: fixed;
    padding: 32px;
    width: 640px;
    background-color: black;
}
.popup .close-btn {
    position: absolute;
    top: -10px;
    left: -2px;
    color: black;
    margin: 5px;
    
}
p {
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}