.NavbarItems {
    background-color: #9becf3;
height: 80px;
display: flex;
justify-content: center;
align-items: center;
font-size: 100px;
}
.navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    
    



}
.fa-react {

}
